<!DOCTYPE html>
<html lang = "en-US">
 <head>
 <meta charset = "UTF-8">
 <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/style.css') }}" />
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <script src="{{ url_for('static', filename='css/style.css') }}"></script>
  
  <script type="text/javascript">
       var app = angular.module('myApp', [])
    .controller('todoCtrl', function($scope) {
        $scope.todoList = [{ text:'day work ',done: false }
            ];

        $scope.todoAdd = function() 
        {
            $scope.todoList.push({text:$scope.todoInput, done:false});
                $scope.todoInput = "";
        };

        $scope.remove = function() {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
    })
    .config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('[[').endSymbol(']]');
    });

    </script>

 </head>

<body ng-app="myApp" ng-controller="todoCtrl">

<h2>MY todo application</h2>
<button onclick="myFunction()">+</button>


<div id="myDIV">
<form ng-submit="todoAdd()">
<table>
    <textarea type="text" ng-model="todoInput" required="" size="50" placeholder="Add New"> </textarea>
    <input type="submit" value="save">
</table>
</form><br>
</div>

<h4>record data</h4>
<table border="#">
<tr ng-repeat="x in todoList">
    <td>#[[ $index + 0 ]]</td>
    <td>[[ x.text ]]</td>
   <td> <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span></td>
</tr>
</table>
<p><button ng-click="remove()">Remove</button></p>




</body>
</html>